# Audio Exploration

In [1]:
import os
import sys

sys.path.append(os.path.abspath(os.path.join('..')))

from scripts.audio_explorer import AudioExplorer

In [2]:
ae = AudioExplorer(directory='../data/train')

AudioExplorer:INFO->Successfully Created AudioExplorer Class
AudioExplorer:INFO->Successfully Loaded Audio and TTS files

## Check the Class for more methods

## Uncomment this things to use the class methods

In [6]:
ae.get_tts()

In [6]:
ae.get_audio_info()

,Name,Duration,Frequency,MinAmplitude,MaxAmplitude,AmplitudeMean,AmplitudeMedian,HasTTS
0,tr_10000_tr097082,9.088,22050,-0.754,0.473,-0.125,-0.125,True
1,tr_10001_tr097083,5.632,22050,-0.802,0.402,-0.125,-0.126,True
2,tr_10002_tr097084,6.144,22050,-0.808,0.431,-0.125,-0.126,True
3,tr_10003_tr097085,5.760,22050,-1.003,0.394,-0.125,-0.125,True
4,tr_10004_tr097086,5.376,22050,-0.767,0.387,-0.125,-0.125,True
...,...,...,...,...,...,...,...,...
995,tr_1108_tr12009,8.704,22050,-0.050,0.021,-0.005,-0.005,True
996,tr_1109_tr12010,6.272,22050,-0.031,0.030,-0.005,-0.005,True
997,tr_110_tr02010,4.736,22050,-0.088,0.056,-0.005,-0.005,True
998,tr_1110_tr12011,8.576,22050,-0.096,0.041,-0.005,-0.005,True
999,tr_1111_tr12012,5.632,22050,-0.273,0.050,-0.005,-0.005,True

In [7]:
ae.get_audio_info_with_tts().head(5)

,Name,Duration,Frequency,MinAmplitude,MaxAmplitude,AmplitudeMean,AmplitudeMedian,HasTTS,TTS
0,tr_10000_tr097082,9.088,22050,-0.754,0.473,-0.125,-0.125,True,የተለያዩ የ ትግራይ አውራጃ ተወላጆች ገንዘባቸው ን አዋጥ ተው የ ልማት ...
1,tr_10001_tr097083,5.632,22050,-0.802,0.402,-0.125,-0.126,True,የ ጠመንጃ ተኩስ ተከፈተ ና አራት የኤርትራ ወታደሮች ተገደሉ
2,tr_10002_tr097084,6.144,22050,-0.808,0.431,-0.125,-0.126,True,ላነሷቸው ጥያቄዎች የ ሰጡት ን መልስ አቅርበ ነዋል
3,tr_10003_tr097085,5.760,22050,-1.003,0.394,-0.125,-0.125,True,እ ብዱ አስፋልቱ ላይ የ ኰለኰ ለ ው ድንጋይ መኪና አላ ሳልፍ አለ
4,tr_10004_tr097086,5.376,22050,-0.767,0.387,-0.125,-0.125,True,ጠጁ ን ኰ መኰ መ ኰ መኰ መ ና ሚስቱ ን ሲ ያሰቃ ያት አደረ

In [8]:
ae.export_tts('./trial.json')